commands:
  00_enum_delete:
    # Temporary solution to remove conflicting package from dependencies
    command: /usr/bin/env rm -rf /opt/python/run/venv/lib/python3.6/site-packages/enum*

  01_pip_upgrade:
    command: /opt/python/run/venv/bin/pip install --upgrade pip
    ignoreErrors: false

  02_pip_setuptools:
    command: /opt/python/run/venv/bin/pip install --upgrade setuptools
    ignoreErrors: false

  03_pip_cffi:
    command: /opt/python/run/venv/bin/pip install -U cffi
    ignoreErrors: false
