option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
    NumProcesses: 4
    NumThreads: 80

  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: www/static/

container_commands:
#  01_migrate_fake:
#    command: "django-admin.py migrate --fake pbank 0049"
#  02_migrate_fake_makeup:
#    command: "django-admin.py migrate --fake pbank"

  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true

  02_cachetable:
    command: "django-admin.py createcachetable"
    leader_only: true

  03_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true

  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
