commands:
    command_delete_old_cron:
        command: rm /etc/cron.d/djangocron.bak
        ignoreErrors: true

files:
    "/etc/cron.d/djangocron":
        mode: "000644"
        owner: root
        group: root
        content: |
            */5 * * * * ec2-user source /opt/python/current/env && /opt/python/current/app/manage.py runcrons >> /home/ec2-user/cron-output.log 2>&1
