option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: dev-steelkiwi-default


files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/celery.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      celeryenv=`cat /opt/python/current/env | tr '\n' ',' | sed 's/export //g'`
      celeryenv=${celeryenv%?}
      celeryconf="[program:celery]
      command=/opt/python/run/venv/bin/celery -A config worker -l info
      directory=/opt/python/current/app
      numprocs=1
      autostart=true
      autorestart=true
      startretries=3
      user=root
      environment=$celeryenv
      redirect_stderr=true
      stdout_logfile=/opt/python/log/celery.log
      stdout_logfile_maxbytes=10MB
      stdout_logfile_backups=3
      stdout_capture_maxbytes=1MB
      stopwaitsecs=300
      [program:celery_beat]
      command=/opt/python/run/venv/bin/celery -A config beat
      directory=/opt/python/current/app
      numprocs=1
      autostart=true
      autorestart=true
      startretries=3
      user=root
      environment=$celeryenv
      redirect_stderr=true
      stdout_logfile=/opt/python/log/celery_beat.log
      stdout_logfile_maxbytes=10MB
      stdout_logfile_backups=3
      stdout_capture_maxbytes=1MB
      [group:elb_celery]
      programs=celery,celery_beat
      priority=998"
      echo "$celeryconf" | tee /opt/python/etc/celery.conf
      if  grep -Fxq '[include]' /opt/python/etc/supervisord.conf; then
          /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf reread
          /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf update
          /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf restart elb_celery:
          exit 0
      else
          echo -e "[include]\nfiles = /opt/python/etc/celery.conf" >> /opt/python/etc/supervisord.conf
      fi
      /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf reread
      /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf update
      /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf restart elb_celery:
