files:
  /home/ec2-user/.ssh/authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDDqsYFqW29UXb06RB5+6swD2FKEM2Lz0XcP/Pv24MoRa8CeZOtCwGtHES1wvYRhJiT/PrnKzmjno0uWugfQrqaVKmaCJVY/oGamLDeEgc8ToK56YrK0ZcnMQWDgiwMFSUcn4GO9BOXGrO8Z+Mix/SURni061S1eDmAMGhDVpK4mojDQVuOlwpeuHANXj1vQwNO3y/wZgRsg6jmwk2FsL63/ACRM6OErwzAwuul3QqSMCu3Xl9jENaUD5Ig+fqyMxGemNXpD8FeRyRnBSXAoAMGXKMTdWvOzZNnAxOvyX/PEsSEws3d9mbYEzSH4ddL4RHt9M5fij+M01+Nez6cwGRN Umut (Generated in June 2013)
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDLBqaq8Q8B2j7j8TwamxMSw8/rRc3anFNQIuKD92vl8eLcFM1XwYJ6sT48+QhGp1V2Zg1ddT4uRompTxN3A4yVlm1thXRbpvdh9z1pMyLbM8Vhk/mLHwI0teQ9BVJE3prtC9dwYz9DWmzsJrMNIVXEm5IuyB6UTJdGlq8vuYCjyuSX4iWRSKJRDR+sGQbaSHM6fKt8ErW7zKltFF+dZ6MzOAKA6WG/Apg+Q5OHPNrn3N2RpU8T07oezssQzYjJt4pG5UwJ/KPBa2Q8qWdlVyqV9xB0T8wY+yaBKqCY9HlnjhVZD/txpuFt7eiogt7jcp2EMHEAZxqUSuzQ7N/l0oOL glikson
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCnt0Y3NvLDu1eAKQIsMH6WCcLO3HwvlhQPScmHGAh5EXubJnfbunY/XY0IiSPGJIJGkz++NtYBMK7YyMgRGJYeq1AA+83p2PdWWGEDpo6O6UCrnzQTrwTbNF5arrkBoilJkhIxjEWi5+oTveNUsgy7MYhp4Ux82w+FMOSgju9rzm+i6vDr95LOjrguD52VizSEATYE0gmIU5PGd6xpXNIepUongLbBKWw/N8MHDs6CC1YH4AGOs1P0cRFkLhwhBPYXhEIwulNO7ObUvG/jNWrVlY8Eb/kw70UrC8yxxwwsCH86f4nV1PdavEGrIHK4/cUzlW1vQB6g/kqiAJn9SiHn user@ALEX-HOME

files:
  /home/ec2-user/.ssh/extra_authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDDqsYFqW29UXb06RB5+6swD2FKEM2Lz0XcP/Pv24MoRa8CeZOtCwGtHES1wvYRhJiT/PrnKzmjno0uWugfQrqaVKmaCJVY/oGamLDeEgc8ToK56YrK0ZcnMQWDgiwMFSUcn4GO9BOXGrO8Z+Mix/SURni061S1eDmAMGhDVpK4mojDQVuOlwpeuHANXj1vQwNO3y/wZgRsg6jmwk2FsL63/ACRM6OErwzAwuul3QqSMCu3Xl9jENaUD5Ig+fqyMxGemNXpD8FeRyRnBSXAoAMGXKMTdWvOzZNnAxOvyX/PEsSEws3d9mbYEzSH4ddL4RHt9M5fij+M01+Nez6cwGRN Umut (Generated in June 2013)
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCjgcpz9k494sG8i2ktOOEQYhAZKUb60RhTVCcjLiSVenHOY3oTzNR7AFL2N50fM51Ka/pGLh/zXe4Jjbyh/xy7xMycU1BrqwIW5mEVqsYT0L3rNYVPv5msENwQtum7P1bLVWEERpPCO5RW8JW8nYw2pcWyklCOPP9RSxGjPnWKWoYFDC96jxSKJqtIBOgbROrAQRKH6q+x/1bEbnM+CDpIXqyXKO2NLv75geiGzdF4Gv4u4wvlYIu82WaiSaZAoFvPqQAediZv9n6ODUasaTZ0G9Tbj18vQVqDSNuPNIvZCbnC1UcC7/AjQhaEiqHffGlR6u8g/dlwwH7dWglufM3r glikson
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC2sk8hDm2zWriVy0FEVoRUoyZu2S5Y8p5r42YoFy8yZSQYq/oa7pCzVTql25xbVFvi3H8srcnverwGwuR42ZrPu79xSW5XYIQW65l4eC+B6vxaGqxG2P9P5fDV2Ysh5lje6OMN60esZJEC5kw6VGvDZLTeOXCFhkvBDAJ27Z7F546N6kPMYmiQymklFWCKD8A7jhBLpvZQHadefuFHYMuiZ300TXGwpvXod64T0pZJ5cBrV4RF8HkSudgHfHCqYYBhGj2wCMHjihFYWG2djkoCQ8V0AwnkeeMZVhF9dYdjF+kJmm6V1LMnWf11ng2BRQZlATn8pjG9/8h/lYDbjkW/
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDlXIMc4jMLfZY5oLqImnTH+mRCpgEzzVbg+sAY2PBwA03PsBgXN43WFBq99ZfkhyNGtZYmvwP74ftyu/IFeyJIcYvHhfjpxbjrcsl4pwGD+5YOu0IR0zU5zre42lti1R6mBnYD7VhVNtMnbbInqPV92hkpdYPLKAd7Dxiln3PRVY/sqmHnfRCg4PsOcwKlSJTL9wtltA/TYSIzwvBEBigZerzFQhPzvvSIQ8Dc5dH5DFpArWIc1kc00JZyweldYd/NNSyULPKbuCXORV5lwDpGuzFcNMRzJaDVu2EGdamiPVY41yH/SYUvSuIUdqNNAjWDsfGIk2o4q0994a7+7dkZ anilada@Anils-Air.wv.cc.cmu.edu
      ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJm5KxQ4kyYbwZ9EcT2kH2Sh0l0dOwGrvpP8PvFCqgoi gsablosk@cs.cmu.edu
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDm4JY2lQd+SL9LLGrzf06kuCHp0snahNWg6EJ1j8F4IniqZTMkrbMwZAB45wpg9+bYHhj3Bkc4pq15alqpFJwopF6wna+MdGmbS8IeWDJgxsLtEbd4SDTqI17qv+YcN6fEmvUTOvv1QbhDzPaolF+beWmimFeMVVu5htqBlF4NCkFJQRowkkGXTgb1uUihGff4CK2V1J0aFcNzBQc7hqgcneNfI5yYri5Pt0QOnrVZFwoWBO2BxlS2Kw7xl8SKufs/R+PjYJiJuBSnISuHjZ6kiXJfXYE8Y9ebJ3HHn08YHQ7Ve2TCEoSrYJvHXFgtmVYTtir2OFKa5Kkj5DBH3/D/ andrew@andrews-mbp.lan
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCj/avxDsEBeIK03lKLQ++BX/OqDHY2LBiEbbKr9cVCvQQBcrOYeegcMKMBzlymuPzVl3f6HkqwKanGaz6IAPkSvhLDkWzskTRWxpJ2rkBoGu1PY+32AHgayofb4jh1zjwrQnR6zmyUWXpvORJcAvMzqbY2w58aPUhsgM1vO0ZftzwGuRego2wtvRRRPLcg/1hV8lMWCmjVMs1/o5e080/1YzHnHhG/VJvdyWMNWSv4EVUMaJ72RlYzy522jKvCMQB4xro0/cuam/2uLJnt2TE+vPKdLTB/rJJZW6i5OSrRZYNK7Q5v2tsNVlzkdjVt1Krte5g91sCEvkN4T/oYfWsr aada@Anils-MBP.home  
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDwzkaFZA3QkOfQTWpLsZjCYkeXR0lc66/+DvRohMCP4b1bOmlKv3IR5V7U8zXP4VeUy8ixQ4737rkHmPlLM3ULyn+d5G4hhwcKcPvqOZ/hCI7O0J1ePgnRhDr1RTeGGNmAmBpZPqfxxF7WEp7A7ZqxkXWHRhbCpvqy74Ae1vT6Yqo7bnd0RuIiQgStnd0ZO20NudNWELxalGgGtfjgIn0v6s334SLxpvFYYNOwLCszrKwPovruKR4cOSFMcmIuAFyccTHZVnx8MmW5umIfKtnBSrrtnfbbtDO7TmWTHj+7zeGw1FMl1DaCNiA04Hd6sxNev7zpc3eXrqUfHijV8bl5 drbarrett@cmu.edu
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDdhJHBDM+eZHIHN2Nu3mZwzvI3C3dS06iSjG4+yK3ZSxmoFxYLAfGTnM6h9cWGwhUCwB/2yZ6Jl4PcvNwrBPIlIrX5zJX3d2/EGdWx+AkOXHx4ksRW6TLZC3NqR88F3lV7DUMrFZpBYM97crvd5e6rKduCF0gIlyIty5wUzYG3uIj8ME+apkXaZO405fGUh2kbAuDUvZQciGF1EIFzlJwievYWwtDygOViH4GNK2haiklyYjOrCrUS7wujmhRveEXtodaM1oQBML5fPKm0Q8pG5PkGnIo0q97VNI/UaxY3P19Ioyiz528UEsB4VfLJbXCBTMxquj9XPY3niUAF+vHX bojan.bogdanovic@toptal.com

commands:
  01_append_keys:
    cwd: /home/ec2-user/.ssh/
    command: sort -u extra_authorized_keys authorized_keys -o authorized_keys